.title {
  margin: 100px auto 0;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 50px auto 0;
}

.row {
  display: flex;
}

.column {
  flex-direction: column;
}

.gap-20 {
  gap: 20px;
}

.no-select {
  user-select: none;
}
